.navbar--wrapper{
    font-size: 25px;
    height: 10vh;
    background: goldenrod;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1rem;
}

.furniture-wrapper{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

