.App{
    text-align: center;
}

.nav{
    background-color: goldenrod;
    display: flex;
}

.icon{
    cursor: pointer;
}

.icon span:nth-child(1) {
    font-size: 2rem;
    color: green;
    margin-left: 75rem;
    position: relative;
    bottom: -150;
}

.home-page{
    display: flex;
}

.furn1{
    height: 400px;
    margin-left: 10rem;
    margin-top: 2rem;
}

.form{
    margin-top: 30px;
    padding: 20px;
    margin-left: 20px;
}

.form > input{
    display: grid;
    margin-bottom: 20px;
}

.login{
    margin-right: 1rem;
    font-size: 20px;
    padding: 5px;
    border-radius: 5px;
}

.view-button{
    color: white;
    font-size: 15px;
    background-color: green;
    padding: 8px;
    border-color: transparent;
    border-radius: 5px;
}

.furn{
    display: inline-block;
    margin-right: 50px;
}

.image-wrapper{
    margin-left: 50px;
    margin-top: 2rem;
}

.addCart{
    color: white;
    background-color: green;
    border-radius: 5px;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 10px;
    padding-top: 10px;
}

.search-input{
    margin-top: 15px;
    margin-left: 20px;

}

.furn-details{
    margin-left: 100px;
    margin-bottom: 30px;
}

.footer{
    background-color: goldenrod;
    display: flex;
    margin-top: 3rem;
    margin-bottom: 1.5rem;
    padding: 12px;
}

.links{
    display: inline-block;
    text-decoration: none;
    list-style-type: none;
    margin-top: 20px;
    margin-bottom: 2rem;
}

.links li{
    padding-right: 20px;
    margin-left: 10rem;
    font-size: 25px;
}

